@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ffc221;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  padding-top: 40px;
}
.container {
  padding-top: 40px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  text-align: center;
}
#head-top {
  padding: 0;
}
.head-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  padding: 12px 0;
}
.head-top .head-top__icons {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 36px;
}
.head-top a {
  color: #000;
  text-decoration: none;
  font-weight: 200;
}
/* header start */
#header {
  background-color: #fff;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
}
.header .logo {
  max-width: 300px;
  height: 100%;
  display: block;
}

.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
}
.menu ul {
  flex: 1;
  display: flex;
  gap: 20px;
  margin: 0 12px;
}
.menu ul li {
  text-align: center;
  flex: 1;
  list-style: none;
}
.menu ul li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  transition: 0.5s;
}
.menu ul li a.active {
  font-weight: bold;
}
.menu ul li a.active,
.menu ul li a:hover {
  color: var(--primary-color);
}
.menu ul li a.active::after,
.menu ul li a:hover::after {
  width: 100%;
  color: var(--primary-color);
}

.menu ul li a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.5s;
  background-color: var(--primary-color);
}
.head__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.head__btn a {
  text-decoration: none;
  color: #000;
  padding: 4px 16px;
  border-radius: 14px;
  transition: 0.5s;
}

.head__btn a:hover {
  color: var(--primary-color);
}
.head__btn a.login-btn {
  color: #000;
  background-color: var(--primary-color);
  font-weight: 500;
}

.menu-btn {
  border: 1px solid #000;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: #fff;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.menu-btn::after {
  content: "";
  width: 80%;
  height: 4px;
  background-color: #000;
  z-index: 10000;
  transform: translateY(4px);
  transition: 0.5s;
}
.menu-btn::before {
  content: "";
  width: 80%;
  height: 4px;
  background-color: #000;
  z-index: 10000;
  transform: translateY(-4px);
  transition: 0.5s;
}
.menu-btn.active::after {
  transform: rotate(45deg) translateY(-2px);
}
.menu-btn.active::before {
  transform: rotate(-45deg) translateY(2px);
}

/* header end */
/* banner start */
#banner {
  margin-top: 0;
  position: relative;
}
#banner .title {
  position: absolute;
  top: 50%;
  left: 10px;
  letter-spacing: 1px;
  z-index: 10;
  transform: translateY(-50%);
}
#banner .title h2 {
  font-size: 4em;
  text-transform: uppercase;
}
#banner .title h2 span {
  font-size: 1.5em;
  color: var(--primary-color);
}

#banner .title a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  padding: 4px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: #000;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  margin-top: 8px;
}
#banner .title a:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.slider-box {
  margin: 0 auto;
  overflow: hidden;
}
.sliders {
  height: 100%;
  position: relative;
}

.sliders .img-box {
  display: flex;
  justify-content: space-between;
  width: 300%;
  height: 600px;
  transition: all 2s ease-in-out;
  object-fit: cover;
  /* animation: show-slide 16s 16s ease-in-out infinite; */
}

.sliders .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.sliders input {
  display: none;
}
.slider-control {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-control label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid #8be;
  background-color: #aa8a8a;
  transition: all 0.2s ease-in;
}
#img1:checked ~ .img-box {
  margin-left: 0%;
}
#img2:checked ~ .img-box {
  margin-left: -100%;
}
#img3:checked ~ .img-box {
  margin-left: -200%;
}

#img2:checked ~ .slider-control .img2 {
  width: 40px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#img3:checked ~ .slider-control .img3 {
  width: 40px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
#img1:checked ~ .slider-control .img1 {
  width: 40px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

/* banner end */
/* about start */

#about .about {
  padding: 40px;
  text-align: center;
  background-color: #fff;
}
.about h2 {
  font-size: 2em;
  position: relative;
}
.about > h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 5px;
  background-color: #000;
}
.about h2 span {
  color: var(--primary-color);
}
.about-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;
  justify-content: center;
}
.about-box {
  padding: 8px 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.about-content .about-box h2 {
  font-weight: 500;
}
.about a {
  display: inline-block;
  margin-top: 40px;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--primary-color);
}
.about a:hover {
  background-color: var(--primary-color);
  border: 1px solid #000;
}
/* about end */
/* service process start */
.service-process {
  text-align: center;
}
.service-process > h2 {
  font-size: 2em;
  position: relative;
}
.service-process > h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 5px;
  background-color: #000;
}
.service-process > h2 span {
  color: var(--primary-color);
}
.services-process {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  justify-content: center;
}
.service {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  transition: 0.5s;
}
.service__title {
  font-size: 1.2em;
  font-weight: 600;
}
.service__img {
  transition: 0.5s;
}
.service:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.service:hover .service__img {
  transform: translateY(-4px) scale(1.2);
}
/* service process end */
/* products start */

#products {
  background: linear-gradient(to right, #ffffffbb, #cccccca1),
    rgba(204, 204, 204, 0.685)
      url(https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: 100%;
  background-position: center;
}
#products .products {
  padding-bottom: 0;
}
.products > h2 {
  font-size: 2em;
  position: relative;
}
.products > h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 5px;
  background-color: #000;
}
.products > h2 span {
  color: var(--primary-color);
}
.products-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  padding: 40px 0;
  background-color: #fff;
}
.product {
  width: 230px;
  height: 300px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding: 8px;
  transition: 0.5s;
  position: relative;
}
.product__tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  color: red;
  background-color: rgba(255, 212, 36, 0.9);
  box-shadow: 7px 5px 4px rgb(0 0 0 / 30%);
}
.product__img {
  width: 100%;
  height: 180px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.5s;
  overflow: hidden;
}
.product__price span {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}
.product:hover {
  transform: translateY(-4px);
  background-color: var(--primary-color);
}
.product__add {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  padding: 4px;
  transform: translateY(30px);
  visibility: hidden;
  transition: 0.5s;
  background-color: rgba(204, 204, 204, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product__add h4 {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product__add img {
  max-width: 40px;
  padding: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.product__add .product__color {
  height: 40px;
  display: flex;
  align-items: center;
}
.product__color span {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 8px;
}
.product__color span.color--1 {
  background-color: darkcyan;
}
.product__color span.color--2 {
  background-color: black;
}
.product__color span.color--3 {
  background-color: white;
}
.product:hover .product__add {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.product__img:hover {
  width: 100%;
  height: 100%;
}

.product__img img {
  width: 100%;
  transition: 0.5s;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product__title {
  margin-top: 12px;
}
.product__price {
  font-size: 1.2em;
  font-weight: 600;
}

.contact {
  margin: 0 auto;
  width: 80%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  padding: 16px 8px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact__content h2 {
  color: #fff;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__content h2 img {
  max-width: 50px;
}
.contact__phone {
  display: inline-block;
  margin-top: 8px;
  min-width: 200px;
  border-radius: 60px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
}
.contact__phone:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transform: scale(0.9);
}
/* products end */
#map {
  height: 300px;
  padding-top: 0;
}
#map img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#footer {
  width: 100%;
  color: #fff;
  background-color: #000;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
#footer .social-links img {
  height: 30px;
  width: 30px;
  background-color: #000;
  transition: 0.5s;
}
#footer .social-links img:hover {
  transform: scale(1.3);
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.footer-group {
  width: 300px;
  margin-top: 20px;
}
.footer-group li {
  list-style: none;
  transition: 0.5s;
}
.footer-group li:hover a {
  color: var(--primary-color);
}
.footer-group li a {
  color: #fff;

  text-decoration: none;
}
footer {
  background-color: var(--primary-color);
  padding: 10px;
  color: #000;
}
/* ----------------------------------------------------------- */
@keyframes showOn {
  from {
    margin-top: -100px;
    opacity: 0;
  }
  top {
    opacity: 1;
    margin-top: 0;
  }
}

/*---------- Reponsive ----------*/
@media only screen and (max-width: 1024px) {
  .container {
    padding: 20px;
  }
  .logo-box {
    text-align: center;
  }
  .products-box,
  .about-content {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .contact {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  #head-top {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .header {
    padding: 16px;
    align-items: flex-start;
    background-color: #fff;
  }
  .menu {
    padding: 120px 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    display: none;
    animation: showOn 0.4s linear;
  }
  .menu-btn.active ~ .menu {
    display: flex;
  }
  .menu ul {
    flex: 0;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #banner .title h2 {
    font-size: 1.5em;
  }
  #banner .title a {
    font-size: 1em;
  }
  .sliders .img-box {
    width: 100%;
    height: 100%;
  }
  .slider-box {
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  .sliders .img-box img {
    width: 100%;
    height: auto;
    scroll-snap-align: center;
  }
  .slider-control {
    display: none;
  }
  .services-process {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
  .product {
    width: 270px;
    height: 330px;
  }
}
